@import url("https://use.typekit.net/zbs1zsj.css");

/* general settings */

:root {
  --background: #ece0c3;
  --poster-background: #fff;
  --text-color: #383838;
  --button-color: #da7224;
  --heavy-font: 900;
}

body {
  background-color: var(--background);
  color: var(--text-color);
  font-family: Utile, sans-serif;
}

main {
  margin: 0 15%;
}

h2 {
  color: var(--text-color);
  margin-top: 0;
  font-size: 3em;
  font-weight: 900;
}

button {
  background-color: var(--button-color);
  width: 10em;
  height: 3.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/* poster section */

.poster_section {
  display: grid;
  width: 100wv;
  grid-template-rows: 100%;
  grid-template-columns: 35% 65%;
  grid-gap: 5%;
}

.poster {
  background-color: var(--poster-background);
  border-radius: 2%;
  padding: 1.3em 1.3em 2em 1.3em;
  overflow: hidden;
}

.poster img {
  width: 100%;
  height: auto;
}

.imdb {
  margin-top: 3em;
}

.imdb a {
  color: var(--background);
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.imdb p {
  margin-bottom: 20px;
}

span {
  padding-right: 1em;
}

.info span,
p {
  font-size: 1.4em;
}

/* see more */

.see_also {
  margin-top: 5em;
}

.random_posters {
  margin-top: 2em;
  margin-bottom: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

article {
  width: 13em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img_container {
  margin-bottom: 2em;
  padding: 1em 1em 2em 1em;
  background-color: var(--poster-background);
  border-radius: 3%;
  width: 100%;
  height: 19em;
  overflow: hidden;
}

.see_poster a {
  text-decoration: none;
  color: white;
}

article img {
  width: 100%;
  height: auto;
  border: 0.006em solid black;
}

@media screen and (max-width: 900px) {
  button {
    width: 12em;
    height: 4em;
  }

  a {
    font-size: 1.8em;
  }

  .poster_section {
    grid-template-rows: 60% 40%;
    grid-template-columns: 100%;
    justify-items: center;
  }

  .poster {
    background-color: var(--poster-background);
    border-radius: 1%;
    padding: 4% 4% 8% 4%;
  }

  h2 {
    font-size: 2.6em;
    text-align: center;
  }

  article {
    margin-bottom: 24%;
  }

  .img_container {
    margin-bottom: 1.5em;
  }
}
