@import url("https://use.typekit.net/omi5lym.css");




body {
  font-family: utile, sans-serif;
  color: #eb9c4d;
  background-color: #fffbee;
}


footer {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

main h1 {
  color: #353434;
  font-family: poppins, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2em;
  text-align: center;
  margin: 0;
  width: 80%;
  place-self: center;
}

p {
  color: #ca6702;
  font-family: utile, sans-serif;
  font-size: 0.75em;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

.container1 {
  display: grid;
  grid-gap: 4rem;
  place-self: center;
}

.grid-container > div {
  font-size: 2rem;
}

img {
  max-width: 90%;
}

.button {
  font-size: "Utile", curisive;
  color: #fffbee;
  margin: 0 auto;
  background-color: #ea8234;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 15px;
  box-shadow: 0 7px #ea8234;
}

.button:hover {
  color: #353434;
}

@media only screen and (max-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  .container1 {
    display: grid;
    grid-gap: 1rem;
    place-self: center;
  }

  .container2 {
    order: -1;
  }
  main h1 {
    color: #ca6702;
    font-family: "Staatliches";
    font-size: 2rem;
    place-self: center;
    margin: 0;
    width: 80%;
  }
  footer {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-top: 40px;
  }
}
